    <footer id="footer">
        <div class="container">
            <!--<div id="copright">-->
            <!--    <i class="material-icons"> copyright</i> 2019 FOODGRU Developed by Spike-->
            <!--</div>-->
        </div>
    </footer>
    </body>
</html>